<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKiWojxXLWqzo3wNInLYlXq7YLWWFySMI</string>
	<key>GCM_SENDER_ID</key>
	<string>337102115295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Connect.TheTestShop</string>
	<key>PROJECT_ID</key>
	<string>thepxnow</string>
	<key>STORAGE_BUCKET</key>
	<string>thepxnow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337102115295:ios:19c318c2eebbdb30efb46a</string>
</dict>
</plist>